################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/shop-app-backend/OnlineShopAPI/OnlineShop/wwwroot/products
